#form {
  display: block; }

#sorts {
  padding-top: 10px; }

#numbers_list {
  display: flex;
  padding: 0px; }
  #numbers_list li {
    font-size: 12px;
    padding: 5px;
    margin: 1px;
    list-style-type: none;
    background-color: #8080ff; }
