#form {
  display: block; }

#sorts {
  padding-top: 10px; }

#numbers_list {
  display: flex;
  padding: 0px; }
  #numbers_list li {
    font-size: 12px;
    padding: 5px;
    margin: 1px;
    list-style-type: none;
    background-color: #8080ff; }

#numbers_list2 {
  display: flex;
  padding: 0px; }
  #numbers_list2 li {
    font-size: 12px;
    padding: 5px;
    margin: 1px;
    list-style-type: none;
    background-color: #ff8080; }

#num_container {
  position: relative; }
  #num_container #second_list {
    position: absolute;
    top: -16px; }
